{% extends '_template.html.twig' %}

{% block title %} Label: {{ label.name}} {% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title"> label: {{ label.name}}</h1>
        <p> {{ label.description}}</p>
        <h3 class="subtitle">Discographie: {{ label.records|length }}</h3>
        {% include "record/_record_list.html.twig" with { record_list: label.records} %}
    </div>




{% endblock %}