{% extends "_template.html.twig" %}


{% block title %} Noueautés {% endblock %}





{% block content %}

    <div class="section">
        <h1 class="title">Nouveautés: {{ record_news|length}}</h1>
        {% include "record/_record_list.html.twig"  with {record_list: record_news} %}
    </div>



{% endblock %}