{% extends "admin/_template.html.twig" %}

{% block title %}
    Back-Office
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Back-Office</h1>
    </div>
{% endblock %}