<h1>Bienvenue, {{ user.pseudo}}</h1>


<p>
    Votre Compte sur MusicWord a bien été créé,
    merci de confirmer votre inscription en cliquant sur le lien suivant:
    <br>
    <a href="{{ url('account_confirmation', {id: user.id, token: user.token}) }}">
        Confirmer mon compte.
    </a>
</p>